:root {
  --yellow-1: #fffaf0;
  --yellow-2: #fff3db;
  --yellow-3: #ffe3b3;
  --yellow-4: #ffd08a;
  --yellow-5: #ffba61;
  --yellow-6: #ffa238;
  --yellow-7: #d97f25;
  --yellow-8: #b35f15;
  --yellow-9: #8c420a;
  --yellow-10: #662c06;
  --green-1: #e7f5e6;
  --green-2: #d8e8d8;
  --green-3: #a9dbab;
  --green-4: #7ecf83;
  --green-5: #57c262;
  --green-6: #34b545;
  --green-7: #228f34;
  --green-8: #146925;
  --green-9: #094217;
  --green-10: #041c0a;
  --brand-1: #e6f0ff;
  --brand-2: #a3d4ff;
  --brand-3: #7abdff;
  --brand-4: #52a3ff;
  --brand-5: #2986ff;
  --brand-6: #0065fe;
  --brand-7: #004fd9;
  --brand-8: #003bb3;
  --brand-9: #002a8c;
  --brand-10: #001b66;
  --red-1: #fff2f0;
  --red-2: #ffd9d4;
  --red-3: #ffb3ab;
  --red-4: #ff8a82;
  --red-5: #ff5f59;
  --red-6: #f92f2f;
  --red-7: #d41e24;
  --red-8: #ad101a;
  --red-9: #870512;
  --red-10: #61030f;
  --db-1: #e8faff;
  --db-2: #bfeeff;
  --db-3: #96e0ff;
  --db-4: #6ecfff;
  --db-5: #45bbff;
  --db-6: #1ba2fc;
  --db-7: #0d7fd6;
  --db-8: #025fb0;
  --db-9: #00458a;
  --db-10: #002e63;
  --purper-1: #f8f0ff;
  --purper-2: #f7f0ff;
  --purper-3: #e0c7ff;
  --purper-4: #c69eff;
  --purper-5: #a26ff2;
  --purper-6: #7d45e6;
  --purper-7: #5d30bf;
  --purper-8: #411f99;
  --purper-9: #2a1173;
  --purper-10: #190b4d;
  --volcano-1: #fff2e6;
  --volcano-2: #ffd9b8;
  --volcano-3: #ffbf8f;
  --volcano-4: #ffa366;
  --volcano-5: #ff843d;
  --volcano-6: #fa541c;
  --volcano-7: #d94100;
  --volcano-8: #b33000;
  --volcano-9: #8c2100;
  --volcano-10: #661400;
  --cyan-1: #f0fffe;
  --cyan-2: #e3ffff;
  --cyan-3: #bafeff;
  --cyan-4: #91faff;
  --cyan-5: #66eefa;
  --cyan-6: #3bd8ed;
  --cyan-7: #28afc7;
  --cyan-8: #1888a1;
  --cyan-9: #0c637a;
  --cyan-10: #084154;
  --gray-1: #f7f9fc;
  --gray-2: #eff3f9;
  --gray-3: #edeff2;
  --gray-4: #e3e5e8;
  --gray-5: #b9bec5;
  --gray-6: #8c9199;
  --gray-7: #5a6068;
  --gray-8: #11151a;
  --black: #000000;
  --white: #ffffff;
  --opacity-10: 0.1;
  --opacity-5: 0.05;
  --opacity-20: 0.2;
  --opacity-30: 0.3;
  --opacity-40: 0.4;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --opacity-70: 0.7;
  --opacity-80: 0.8;
  --opacity-90: 0.9;
  --opacity-100: 1;
  --font-size-1: 10px;
  --font-size-2: 12px;
  --font-size-3: 14px;
  --font-size-4: 15px;
  --font-size-5: 16px;
  --font-size-6: 17px;
  --font-size-7: 18px;
  --font-size-8: 20px;
  --font-size-9: 22px;
  --font-size-10: 24px;
  --line-height-1: 22px;
  --line-height-2: 24px;
  --line-height-3: 26px;
  --line-height-4: 28px;
  --line-height-5: 30px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 32px;
  --space-8: 36px;
  --space-9: 40px;
  --space-10: 56px;
  --radius-xxs: 0px;
  --radius-xs: 2px;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;
  --radius-xl: 16px;
  --radius-max: 9999px;
}
